/*Page Styles*/
html {
    font-size: 16px;
    box-sizing: border-box;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

/*Header Styles*/


.logo {
    width: 150px;
}

header nav {
    display: inline;
}

header ul {
    display: inline;
}

header li {
    display: inline;
}

/*Main Styles*/
main {
    text-align: center;
}

.hero {
    background-image: url("../images/hero-image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    color: hsla(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-container figure {
    margin: 0 5%;
}

.image-container {
    width: 200px;
    height: 300px;
    overflow: hidden;
}

.custom-shirts img,
.custom-suits img,
.calvin-klein img {
    width: 100%;
    height: auto;
}

.alterations img,
.ralph-lauren img,
.giorgio-armani img {
    height: 100%;
    width: auto;
}